@model newStorefront.Models.Supplier

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Supplier</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURL)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SupplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
